<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.23.1/babel.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
    <script src="//unpkg.com/d3-radial-axis@1.5/dist/d3-radial-axis.min.js"></script>

    <link rel="stylesheet" href="../style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="style.css"></script>
    <script>
      function send_command(command) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML = this.responseText;
          }
        };
        xhttp.open(
          "GET",
          "http://localhost:5000?command=" + encodeURIComponent(command),
          true
        );
        xhttp.send();
      }

      function checkInput() {
        var event = window.event || event.which;

        if (event.keyCode == 13) {
          event.preventDefault();
          line = document.getElementById("command").value;
          line = line.toUpperCase()
          addLine(line + "\n");
          send_command(line);
          document.getElementById("command").value = "";
        }

        // document.getElementById("command").style.height = (document.getElementById("command").scrollHeight) + "px";
      }

      function addLine(line) {
        textarea = document.getElementById("terminal").value;
        document.getElementById("terminal").value = textarea + line;
        clearTerminal();
      }

      function turnButton() {
        turn_val = document.getElementById("turn_value").value;
        turn_line = "TURN " + turn_val;
        addLine(turn_line + "\n");
        send_command(turn_line);
      }

      function stopButton() {
        stop_line = "STOP";
        addLine(stop_line + "\n");
        send_command(stop_line);
      }

      function pauseButton() {
        pause_val = document.getElementById("pause_value").value;
        pause_line = "PAUSE " + pause_val;
        addLine(pause_line + "\n");
        send_command(pause_line);
      }

      function baseButton() {
        base_line = "BASE";
        addLine(base_line + "\n");
        send_command(base_line);
      }

      function speedScroll() {
        speed_val = document.getElementById("speed_range").value;
        speed_line = "SPEED " + speed_val;
        addLine(speed_line + "\n");
        send_command(speed_line);
      }

      function clearTerminal() {
        textarea = document.getElementById("terminal").value;
        text_list = textarea.split("\n");
        if (text_list.length >= 30) {
          text_list.shift();
          textarea = text_list.join("\n");
          document.getElementById("terminal").value = textarea;
          document.getElementById(
            "terminal"
          ).scrollTop = document.getElementById("terminal").scrollHeight;
        }
      }

      function checkELAstatus(){
        checkedValue = document.getElementById('switchELA').checked
        console.log(checkedValue)
      }
    </script>

    <title>Bosch Monitor Console</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper red accent-4">
          <a href="#" class="brand-logo center">Bosch</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="center-align"><h1>Bosch Motor Console</h1></div>
        <div class="row">
          <div class="col s6 m6 center-align">
            <div>
              <textarea
                disabled
                id="terminal"
                placeholder="Console output"
                style="width:20em;height:30em;resize:none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;"
              ></textarea
              ><br />
            </div>
            <div class="col s2">Input:</div>
            <div class="col s9">
              <input
                placeholder="Enter command..."
                id="command"
                type="text"
                class="validate"
                onkeypress="checkInput()"
              />
            </div>
          </div>
          <div class="col s12 m6 right-align">
            <div class="row">
              <div class="col s2">Speed:</div>
              <div class="col s9">
                <input
                  type="range"
                  id="speed_range"
                  min="0"
                  max="50"
                  step="1"
                  onchange="speedScroll()"
                />

              </div>
              <div class="col s1"></div>
            </div>
            <div class="row">
              <div class="col s1"></div>
              <div class="col s4" style="position:relative; top:-10px;">
                <input
                  placeholder="Rotation degrees"
                  id="turn_value"
                  type="text"
                  class="validate"
                />
              </div>
              <div class="col s1"></div>
              <div class="col s2">
                <a class="waves-effect waves-light btn grey" onclick="turnButton()"
                  >TURN</a
                >
              </div>

              <div class="col s1"></div>
              <div class="col s2">
                <a class="waves-effect waves-light btn grey" onclick="baseButton()"
                  >BASE</a
                >
              </div>
            </div>
            <div class="row">
            <div class="col s1"></div>
              <div class="col s4" style="position:relative; top:-10px;">
                <input
                  placeholder="Time"
                  id="pause_value"
                  type="text"
                  class="validate"
                />
              </div>
              
              <div class="col s1"></div>
              <div class="col s2">
                <a class="waves-effect waves-light btn grey" onclick="pauseButton()"
                  >PAUSE</a
                >
              </div>


              <div class="col s1"></div>
              <div class="col s2">
                <a
                  class="waves-effect waves-light btn"
                  style="background-color:rgb(166, 38, 42)"
                  onclick="stopButton()"
                  >STOP</a
                >
              </div>
            </div>
            <div class="row center-align">
                <div class="switch" style="width:350" >
                  <label>
                    Disable ELA
                    <input id="switchELA" type="checkbox" onchange="checkELAstatus()"/>
                    <span class="lever" style="width:50; "></span>
                    Enable ELA
                  </label>
                </div>
              </div>
            <div class="row right-align">
              <div class="col s2">Parameters</div>
            </div>
            <div class="row left-align">
              <div class="col s6" id="velocity_text">Velocity:</div>
              <div class="col s6" id="velocity_value">0</div>
              <div class="col s6" id="frequency_text">Frequency:</div>
              <div class="col s6" id="frequency_value">0</div>
            </div>

      </div>
    </main>
  </body>
</html>
